<div style="padding:10px;background-color: #FF4D4D; color:white;font-size:28px;"><strong>Tipos de Objetos Básicos</strong></div>

Los objetos son básicamente contenedores que pueden almacenar cualquier tipo de datos.

11 y "Hola" son ejemplos de objetos que en bajos niveles se almacenan como ceros y unos, sin embargo sus datos deben estar separados y son los objetos quienes se aseguran de esa separación.

El lugar en que se almacenan y gestionan los objetos se denomina Espacio de Objetos y dentro de este espacio incluso el código que escribimos se guarda como objeto.

Sin embargo, no podríamos ver secuencias de ceros y unos y distinguir fácilmente entre una tabla o una imagen. Además, las cosas que podemos realizar con cada uno son muy distintas, podríamos restar dos números pero no dos imágenes. Por este motivo, debemos llevar registro del tipo de dato en cada objeto.

La categoría que tiene cada objeto se denomina tipo (o también llamada “clase”).

## <a style="padding:3px;color: #FF4D4D; "><strong>Números Enteros - Int</strong></a>

El primer tipo numérico se trata de los enteros.

Dentro de este tipo de objeto pueden almacenarse enteros positivos (1, 2, 3) o enteros negativos (-1, -2, -1000), incluyendo también al 0.

Y curiosamente, no hay un límite de qué tan grandes pueden ser (más allá de las limitantes de hardware).

In [7]:
type(0)

int

In [8]:
type(-45)

int

In [9]:
type(10000000000000000000000000000)

int

## <a style="padding:3px;color: #FF4D4D; "><strong>Números Punto Flotante - Float</strong></a>

Este tipo de objeto es una aproximación de los números reales, es decir números que incluyen punto decimal o fracciones.

Se denominan de punto flotante debido a que el punto decimal "flota" entre posiciones. La idea básica es descomponer el número en partes:

- Una **mantisa** o los coeficientes del número.
- Un **exponente** que indica dónde se coloca el punto decimal.

Por ejemplo en el número de oro, 1.618034 se dividiría en los siguientes componentes:
- Mantisa: 1618034
- Exponente: -6

Lógica:

$1618034$ x $10^{-6} = 1.618034$

In [12]:
type(1/2)

float

El tipo float aplica un error de redondeo después de ~ 16 decimales.

In [14]:
import math
print(math.pi)

3.141592653589793

## <a style="padding:3px;color: #FF4D4D; "><strong>Operaciones</strong></a>

<p style="padding:3px;color: #FF4D4D; "><strong>Suma</strong></p>

In [17]:
5 + 5

10

In [18]:
type(5 + 5)

int

In [19]:
5 + 6.8

11.8

In [20]:
type(5 + 6.8)

float

<p style="padding:3px;color: #FF4D4D; "><strong>Resta</strong></p>

In [22]:
11 - 18

-7

In [23]:
type(11 - 18)

int

In [24]:
11 - 18.0

-7.0

In [25]:
type(11 - 18.0)

float

<p style="padding:3px;color: #FF4D4D; "><strong>Multiplicación</strong></p>

In [27]:
7 * 7

49

In [28]:
type(7 * 7)

int

In [29]:
1.5 * 6

9.0

In [30]:
type(1.5 * 6)

float

<p style="padding:3px;color: #FF4D4D; "><strong>División - Punto Flotante</strong></p>
Siempre crea un objeto flotante aunque el resultado pudiera ser un entero

In [32]:
17/9

1.8888888888888888

In [33]:
type(17/9)

float

In [34]:
20/4

5.0

In [35]:
type(20/4)

float

<p style="padding:3px;color: #FF4D4D; "><strong>División Truncada - Entero</strong></p>
Recorta la porción decimal de la división, crea un objeto entero

In [37]:
4//2

2

In [38]:
type(4//2)

int

In [39]:
19//5

3

In [40]:
type(19//5)

int

<p style="padding:3px;color: #FF4D4D; "><strong>Módulo</strong></p>
Devuelve el residuo de una división

In [42]:
print(19 % 5)
type(19 % 5)

4

int

<p style="padding:3px;color: #FF4D4D; "><strong>Exponente</strong></p>
Devuelve el primer número elevado a la potencia del segundo número. Ejemplo $2^6$

In [44]:
2**6

64

## <a style="padding:3px;color: #FF4D4D; "><strong>Jerarquía de Operaciones</strong></a>

Python sigue la jerarquía de las operaciones dadas por PEMDAS:
- Paréntesis
- Exponentes *(incluyendo raíces)*
- Multiplicación & División
- Adición *(suma)* & Sustracción *(resta)*

In [47]:
2 + 3 * 4

14

Si queremos controlar el orden en que son ejecutadas las operaciones, usamos paréntesis

In [49]:
(2 + 3) * 4

20

## <a style="padding:3px;color: #FF4D4D; "><strong>Booleanos</strong></a>

Representan un valor de verdad, pueden ser
- 1 Verdadero 
- 0 Falso

In [52]:
True

True

In [53]:
type(True)

bool

In [54]:
False

False

In [55]:
type(False)

bool

## <a style="padding:3px;color: #FF4D4D; "><strong>Comparaciones</strong></a>

Existe otro tipo de operaciones denominadas comparaciones, cuyo resultado será un booleano. 
Por ejemplo, comparar si dos números son:
- Iguales
- Diferentes
- Mayores
- Menores
- Mayores o iguales
- Menores o iguales

In [58]:
2 != 5

True

In [59]:
2 ** 3 == 2 * 2 * 2

True

In [60]:
11 < 2 ** 3

False

In [61]:
5 * 2 >= 2 ** 5

False

Los números flotantes se almacenan en base 2 (binario), eso quiere decir que un número se traduce únicamente en 0 y 1. Algunos números son periódicos en base 2. Por ejemplo:
- **Base 10:** 1.1
- **Base  2:** 1.000110011001100110011...

Esto puede generar un error de redondeo, que aunque puede ser mínimo, es necesario considerarlo

In [63]:
1.1 == 1.1

True

Aparentemente la siguiente comparación debiera ser cierta

In [65]:
1.1 + 1.1 + 1.1 == 3.3

False

Sin embargo contiene un número que en base 2 es interminable y genera un error de redondeo

In [67]:
1.1 + 1.1 + 1.1

3.3000000000000003

## <a style="padding:3px;color: #FF4D4D; "><strong>Variables</strong></a>

Son nombres que le damos a los objetos para poder acceder a ellos. Las variables van dentro de un objeto especial llamado Namespace (un espacio de nombres).

Para crear una usamos el **operador de asignación**, escrito como *=*.

*NOTA: Este operador es diferente al operador igual (==) visto en las comparaciones*

In [70]:
x = 11

Nótese que no hay ninguna salida de esta sentencia, únicamente se ha creado una variable que se refiere a un objeto *int*. Y podemos utilizarla en futuras sentencias.

In [72]:
x + 2 * x

33

In [73]:
x ** 2

121

In [74]:
type(x)

int

El operador de asignación NO copia un valor. Se crea el objeto *int* y la variable *x* es asignada como un nombre que apunta al objeto *int*.

Puede crearse más de una variable y hacer operaciones entre ellas.

In [76]:
a = 11
b = 5
(a ** 2 + b ** 2) ** 0.5 # Teorema de pitágoras para los curiosos

12.083045973594572

Es posible asignar dos nuevos objetos a nuestras variables y reevaluar la expresión. Además de que los objetos asignados pueden ser cualquier expresión, por ejemplo operaciones.

In [78]:
a = (10 % 6)
b = (1.5 * 2)

(a ** 2 + b ** 2) ** 0.5  # Ahora con una terna pitagórica

5.0

Las variables pueden también utilizarse como expresiones, siempre y cuando ya hayan sido creadas.

In [80]:
x = x + 1
print(x)

12

Nótese que la expresión `x = x + 1` disminuye el valor de `x` en 1, sin embargo las operaciones ingresadas sin asignar no cambian el valor de `x`.

In [82]:
x - 3

9

In [83]:
print(x)

12

<p style="padding:3px;color: #FF4D4D; "><strong>Shorthand Operators - Operadores Abreviados</strong></p>

Python provee algunos operadores abreviados que hacen las expresiones como `x = x + 1` más sencillas

In [86]:
print(x)

12

In [87]:
x += 1

In [88]:
print(x)

13

Podemos observar que las expresiones `x = x + 1` y `x += 1` son equivalentes

Existen diversos operadores abreviados, por ejemplo:

| Símbolo | Descripción | Sintaxis | Equivalente |
| ----------- | ----------- | ----------- | ----------- |
| += | Suma dos números y asigna el resultado al objeto de la izquierda | x += 2 | x = x + 2 |
| -= | Resta dos números y asigna el resultado al objeto de la izquierda | x -= 2 | x = x - 2 |
| *= | Multiplica dos números y asigna el resultado al objeto de la izquierda | x *= 2 | x = x * 2 |
| /= | Divide dos números y asigna el resultado al objeto de la izquierda | x /= 2 | x = x / 2 |
| %= | Calcula el módulo de dos números y asigna el resultado al objeto de la izquierda | x %= 2 | x = x % 2 |
|**= | Eleva el número de la izquierda a la potencia del número derecho y asigna el resultado al objeto de la izquierda | x **= 1 | x = x ** 1 |
|//= | Calcula la división trunca entre dos números y asigna el resultado al objeto de la izquierda | x //= 1 | x = x // 1 |

In [91]:
x //= 3
print(x)

4

In [92]:
x **= 2
print(x)

16

In [93]:
x %= 4
print(x)

0

In [94]:
x -= 5
print(x)

-5

<p style="padding:3px;color: #FF4D4D; "><strong>Tipado Dinámico</strong></p>

Estos nombres, o variables, no tienen tipos y se dice que Python es tipado dinámicamente. Esto quiere decir que *x* puede referirse a un *int* en este momento y más adelante puede ser de tipo *function*.

Otros lenguajes como C y Java no permiten esto, son lenguajes tipados estáticamente.

Esto puede darnos mucha libertad, pero también puede propiciar errores.

In [97]:
print(x)

-5

In [98]:
type(x)

int

In [99]:
x + x + x

-15

In [100]:
x = "cha"

In [101]:
type(x)

str

In [102]:
x + x + x

'chachacha'

## <a style="padding:3px;color: #FF4D4D; "><strong>Cadenas - Strings</strong></a>

Tipo básico para representar texto, son secuencias de caracteres individuales combinados en un objeto.

Su manipulación es crucial en y Python viene con un set muy importante de herramientas que hacen que crear y modificar cadenas sea algo sencillo.

Una cadena puede crearse utilizando comillas sencillas o dobles

In [106]:
s = 'Cadena con comillas sencillas'
print(s)

Cadena con comillas sencillas

In [107]:
s = "Cadena con comillas dobles"
print(s)

Cadena con comillas dobles

<p style="padding:3px;color: #FF4D4D; "><strong>Caracter de Escape "\"</strong></p>

Pueden crearse también cadenas de más de una línea. La manera más sencilla es utilizar comillas "triples".

In [110]:
s = """Esta es una cadena
de más de una línea
hecha con comillas triples"""
print(s)

Esta es una cadena
de más de una línea
hecha con comillas triples

Hay veces que únicamente únicamente tener más de una línea en el código, pero que esto no se vea en la salida.

Para lograrlo usaremos el caracter de escape **`\`**

In [112]:
s = "Afortunadamente Python \
nos da una alternativa"
print(s)

Afortunadamente Python nos da una alternativa

O puede ser que quedamos lo contrario, y escribir únicamente una línea en el código, pero que en la salida sea más de una línea de texto.

En este caso utilizaremos el caracter de nueva línea **(`\n`)**

In [114]:
s = "Afortunadamente también\nPodemos hacer lo contrario"
print(s)

Afortunadamente también
Podemos hacer lo contrario

O puede ser que queramos un espacio definido de tabulación entre dos frases de nuestro texto.

Y para eso utilizaremos el caracter **(`\t`)**

In [116]:
s = "Primera Frase\tSegunda Frase"
print(s)

Primera Frase	Segunda Frase

A veces queremos incluir comillas dentro de nuestra cadena

La forma más sencilla es ocupar el caracter contrario al que se utilizó para crear la cadena. Sin embargo también se puede lograr con el caracter para comillas simples  (`\'`) o dobles (`\"`)

In [118]:
s = "'Python' me divierte"
print(s)

'Python' me divierte

In [119]:
s = "Me deja colocar \"comillas dobles\""
print(s)

Me deja colocar "comillas dobles"

In [120]:
s = 'O también \'comillas simples\''
print(s)

O también 'comillas simples'

Y qué pasaría si únicamente quiero colocar una diagonal invertida.

También es posible mediante el caracter backslash **(`\\`)**

In [122]:
s = "Yo solo quería usar \\ una diagonal"
print(s)

Yo solo quería usar \ una diagonal

## <a style="padding:3px;color: #FF4D4D; "><strong>Operaciones con Cadenas</strong></a>

Python tiene una manera muy intuitiva para utilizar los operadores de cadenas

<p style="padding:3px;color: #FF4D4D; "><strong>Concatenar (+)</strong></p>

In [126]:
c = "Esta es "
d = "la "
e = "mejor clase"
c + d + e

'Esta es la mejor clase'

Nótese que el signo de más combina las dos cadenas en una. Pero no se cambió ninguna de las dos cadenas originales, más bien una cadena nueva fue creada.

Además, la concatenación no agrega espacios a menos que los pongamos manualmente, como al final de la variable `c` y `d`

<p style="padding:3px;color: #FF4D4D; "><strong>Duplicar (*)</strong></p>

Podemos utilizar este operador para concatenar una cadena consigo misma múltiples veces

In [130]:
d * 10

'la la la la la la la la la la '

<p style="padding:3px;color: #FF4D4D; "><strong>Extraer Caracteres [ ]</strong></p>

Una cadena es un ejemplo de un objeto secuencia, se trata en el fondo de una secuencia de caracteres y por lo tanto pueden accederse a los caracteres en dicha secuencia mediante el siguiente método.

Este método, permite obtener un caracter individual de una cadena. Para hacer esto, solo necesitamos poner la posición deseada entre corchetes.

Pero la cuenta de posiciones debe iniciarse desde el 0.

In [133]:
s = "esternocleidomastoideo"
print(s[0])
print(s[1])
print(s[2])

e
s
t

La posición entre corchetes es denominada índice de cadena *(string index)*.

Python también nos da la opción de contar desde el final de la cadena, en donde el índice -1 nos dará el último caracter, el índice -2 será el penúltimo, etc.

In [135]:
print(s[-1])
print(s[-2])

o
e

<p style="padding:3px;color: #FF4D4D; "><strong>Corte - Slice [inicio:final:paso]</strong></p>

Si queremos sacar más de un caracter de nuestra cadena, podríamos utilizar un slice.

Por ejemplo si queremos sacar los caracteres 1, 2 y 3.

In [138]:
s[1:4]

'ste'

El primer número de la estructura indica la posición desde la que iniciará el corte, seguida de dos puntos y la posición final. Sin embargo, escribimos como caracter final la posición `4` en lugar de la `3`. Esto es porque Python la notación implica todos los caracteres desde la posición de inicio, pero menores a la posición final.

Por ejemplo podríamos querer obtener todos los caracteres menos el primero y el último.

In [140]:
s[1:-1]

'sternocleidomastoide'

En caso de omitir algún parámetro, se tomará el inicio o final por default de la cadena.

In [142]:
s[ :-1]

'esternocleidomastoide'

In [143]:
s[7: ]

'cleidomastoideo'

Por último, puede que no queramos cada carácter en nuestra porción; por ejemplo, podríamos querer cada segundo o cada tercer carácter. 

Para hacer esto, podemos incluir un tamaño de paso opcional en nuestra porción, colocándolo después de otros dos puntos dentro de los corchetes. 

Por ejemplo, si queremos extraer cada dos caracteres de nuestra cadena, comenzando en el índice 4 y hasta (pero sin incluir) el índice 9.

In [145]:
s[4:10:2]

'rol'

También pueden incluirse pasos negativos. Por ejemplo poner -1 causaría que se escriba la cadena al revés

In [147]:
s[::-1]

'oediotsamodielconretse'

<p style="padding:3px;color: #FF4D4D; "><strong>Cambio de mayúsculas y minúsculas</strong></p>

Existen métodos prácticos que nos ayudan a cambiar entre mayúsculas y minúsculas de una cadena. Por ejemplo

In [150]:
# Mayúsculas
e.upper()

'MEJOR CLASE'

In [151]:
# Minúsculas
e.lower()

'mejor clase'

In [152]:
# Primera mayúscula
e.capitalize()

'Mejor clase'

In [153]:
# Primera mayúscula en cada palabra
e.title()

'Mejor Clase'

## <a style="padding:3px;color: #FF4D4D; "><strong>Obteniendo Cadenas del Usuario</strong></a>

Habrá ocasiones en que necesitaremos obtener información del usuari. Una de las maneras más sencillas es usar una instrucción de entrada *(input)*.

In [156]:
nombre = input("Ingresa tu nombre: ")

Ingresa tu nombre:  Emanuel

El intérprete muestra el mensaje que escrito como instrucción y espera el ingreso de información. Lo que sea que escribas se guarda en la variable con el nombre que hayas indicado, y podrán utilizarse los comandos anteriores.

In [158]:
nombre[-1:2:-1]

'leun'

Cualquier cosa que se escriba en un mensaje de entrada *(input)* se guardará como una cadena, incluso si es un número.

In [160]:
torti = input("Ingresa el precio actual de un kilo de tortillas: ")
print(type(torti))

Ingresa el precio actual de un kilo de tortillas:  22

<class 'str'>

## <a style="padding:3px;color: #FF4D4D; "><strong>Constructores</strong></a>

<p style="padding:3px;color: #FF4D4D; "><strong>Tipado Fuerte</strong></p>

Se dice que Python es un lenguaje fuertemente tipado. Esto significa que restringe las operaciones que podemos realizar según el tipo objeto que tengamos.

Por ejemplo podemos sumar un `int` con un `float`, pero ninguno de estos puede "sumarse" con un `string`

In [164]:
8 + 9.75

17.75

In [165]:
type(8 + 9.75)

float

In [166]:
8 + "9.75"

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Podemos ver que se genera un tipo específico de error llamado `TypeError`. El mensaje de error nos indica que el operador `+` no funciona entre un `int` y un `str`.

Si realmente queremos que esa última línea funcione, podemos tomar la cadena "9.75" y convertirla en un float para poder realizar la suma. 

Para esto, utilizaremos un constructor.

In [177]:
8 + float("9.75")

17.75

Un constructor es una función especializada que crea un objeto de un tipo específico. 

El nombre del constructor es simplemente el nombre del tipo. En este caso, queremos crear un float, así que usamos la función `float`. Python tomará lo que pongamos entre paréntesis e intentará convertirlo en un número decimal.

También es posible crear un `int` a partir de un `float` aunque se pierde la parte decimal del número. O también puede realizarse lo contrario.

In [179]:
int(9.75)

9

In [181]:
float(5)

5.0

Los booleanos tienen una representación numérica. Esta puede ser utilizada para construir objetos desde o hacia esa clase

In [183]:
int(True)

1

In [185]:
bool(0)

False

También las cadenas tienen su propio constructor:

In [187]:
str("9.75")

'9.75'

In [189]:
str(True)

'True'

Sin embargo los constructores no pueden hacerlo todo. Si le das un valor que no puede convertir al tipo deseado, Python generará un error.

In [191]:
int("9.75")

ValueError: invalid literal for int() with base 10: '9.75'

Aunque podríamos solucionar eso utilizando dos constructores y cada constructor hace su parte del trabajo, permitiendo que Python interprete correctamente el valor paso a paso.

In [193]:
int(float("9.75"))

9